<div id="JavaTable"> 
</div>

<script> 


let teammates = ["Yuri", "Raunak", "Harsha", "Sachit", "Tanay"];


const table = document.createElement("table");
const row = document.createElement("tr");


for (let i = 0; i < teammates.length; i++) {
    let data = document.createElement("td");
    let node = document.createTextNode(teammates[i]);
    data.appendChild(node);
    row.appendChild(data);
}

table.appendChild(row);
const div = document.getElementById("JavaTable");
div.appendChild(table);



</script>
